<h1>The Coach's Response</h1>

<h2 class="me"> <strong>Me:</strong> <%= @question %> </h2>
<hr>
<h2 class="coach"> <strong>Coach:</strong> <%= @response %> </h2>
<hr>
<%= link_to "Ask Another Question", ask_path %>

