<h1>What would you like to ask the Coach?</h1>
<hr>

<form action="/answer" method="get">
  <input class="form" type="text" name="input" placeholder="Input Question Here">
  <input class="btn" type="submit" value="Ask!">
 </form>
